In [28]:
import pandas as pd
import os
import warnings
import re
import nltk
warnings.filterwarnings('ignore')

In [ ]:
%pip install textblob transformers sumy nltk torch

Requirement already satisfied: textblob in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (0.19.0)
Collecting transformers
  Downloading transformers-4.49.0-py3-none-any.whl.metadata (44 kB)
Requirement already satisfied: sumy in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (0.11.0)
Requirement already satisfied: nltk in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (3.9.1)
Requirement already satisfied: torch in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (2.6.0)
Requirement already satisfied: filelock in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (3.17.0)
Collecting huggingface-hub<1.0,>=0.26.0 (from transformers)
  Downloading huggingface_hub-0.29.2-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.17 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (24.2)
Collecting pyyaml>=5.1 (from transformers)
  Downloading PyYAML-6.0.2-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: regex!=2019.12.17 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (2.32.3)
Collecting tokenizers<0.22,>=0.21 (from transformers)
  Downloading tokenizers-0.21.0-cp39-abi3-win_amd64.whl.metadata (6.9 kB)
Collecting safetensors>=0.4.1 (from transformers)
  Downloading safetensors-0.5.3-cp38-abi3-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: tqdm>=4.27 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (4.67.1)
Requirement already satisfied: docopt<0.7,>=0.6.1 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from sumy) (0.6.2)
Requirement already satisfied: breadability>=0.1.20 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from sumy) (0.1.20)
Requirement already satisfied: pycountry>=18.2.23 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from sumy) (24.6.1)
Requirement already satisfied: click in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from torch) (4.12.2)
Requirement already satisfied: networkx in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from torch) (3.4.2)
Requirement already satisfied: jinja2 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from torch) (3.1.5)
Requirement already satisfied: fsspec in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from torch) (2025.2.0)
Requirement already satisfied: sympy==1.13.1 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from torch) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from sympy==1.13.1->torch) (1.3.0)
Requirement already satisfied: chardet in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from breadability>=0.1.20->sumy) (5.2.0)
Requirement already satisfied: lxml>=2.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from breadability>=0.1.20->sumy) (5.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (2024.12.14)
Requirement already satisfied: colorama in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from tqdm>=4.27->transformers) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from jinja2->torch) (3.0.2)
Downloading transformers-4.49.0-py3-none-any.whl (10.0 MB)
   ---------------------------------------- 0.0/10.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/10.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/10.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/10.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/10.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/10.0 MB ? eta -:--:--
   -- ------------------------------------- 0.5/10.0 MB 246.6 kB/s eta 0:00:39
   --- ------------------------------------ 0.8/10.0 MB 349.5 kB/s eta 0:00:27
   --- ------------------------------------ 0.8/10.0 MB 349.5 kB/s eta 0:00:27
   --- ------------------------------------ 0.8/10.0 MB 349.5 kB/s eta 0:00:27
   --- ------------------------------------ 0.8/10.0 MB 349.5 kB/s eta 0:00:27
   ---- ----------------------------------- 1.0/10.0 MB 337.7 kB/s eta 0:00:27
   ---- ----------------------------------- 1.0/10.0 MB 337.7 kB/s eta 0:00:27
   ---- ----------------------------------- 1.0/10.0 MB 337.7 kB/s eta 0:00:27
   ---- ----------------------------------- 1.0/10.0 MB 337.7 kB/s eta 0:00:27
   ----- ---------------------------------- 1.3/10.0 MB 325.7 kB/s eta 0:00:27
   ----- ---------------------------------- 1.3/10.0 MB 325.7 kB/s eta 0:00:27
   ----- ---------------------------------- 1.3/10.0 MB 325.7 kB/s eta 0:00:27
   ------ --------------------------------- 1.6/10.0 MB 342.3 kB/s eta 0:00:25
   ------ --------------------------------- 1.6/10.0 MB 342.3 kB/s eta 0:00:25
   ------ --------------------------------- 1.6/10.0 MB 342.3 kB/s eta 0:00:25
   ------- -------------------------------- 1.8/10.0 MB 358.2 kB/s eta 0:00:23
   ------- -------------------------------- 1.8/10.0 MB 358.2 kB/s eta 0:00:23
   -------- ------------------------------- 2.1/10.0 MB 374.0 kB/s eta 0:00:22
   -------- ------------------------------- 2.1/10.0 MB 374.0 kB/s eta 0:00:22
   -------- ------------------------------- 2.1/10.0 MB 374.0 kB/s eta 0:00:22
   --------- ------------------------------ 2.4/10.0 MB 387.9 kB/s eta 0:00:20
   --------- ------------------------------ 2.4/10.0 MB 387.9 kB/s eta 0:00:20
   ---------- ----------------------------- 2.6/10.0 MB 402.6 kB/s eta 0:00:19
   ----------- ---------------------------- 2.9/10.0 MB 422.5 kB/s eta 0:00:17
   ----------- ---------------------------- 2.9/10.0 MB 422.5 kB/s eta 0:00:17
   ------------ --------------------------- 3.1/10.0 MB 444.7 kB/s eta 0:00:16
   ------------ --------------------------- 3.1/10.0 MB 444.7 kB/s eta 0:00:16
   ------------- -------------------------- 3.4/10.0 MB 448.4 kB/s eta 0:00:15
   ------------- -------------------------- 3.4/10.0 MB 448.4 kB/s eta 0:00:15
   ------------- -------------------------- 3.4/10.0 MB 448.4 kB/s eta 0:00:15
   ------------- -------------------------- 3.4/10.0 MB 448.4 kB/s eta 0:00:15
   ------------- -------------------------- 3.4/10.0 MB 448.4 kB/s eta 0:00:15
   -------------- ------------------------- 3.7/10.0 MB 426.0 kB/s eta 0:00:15
   -------------- ------------------------- 3.7/10.0 MB 426.0 kB/s eta 0:00:15
   --------------- ------------------------ 3.9/10.0 MB 428.6 kB/s eta 0:00:15
   --------------- ------------------------ 3.9/10.0 MB 428.6 kB/s eta 0:00:15
   ---------------- ----------------------- 4.2/10.0 MB 440.7 kB/s eta 0:00:14
   ---------------- ----------------------- 4.2/10.0 MB 440.7 kB/s eta 0:00:14
   ----------------- ---------------------- 4.5/10.0 MB 453.4 kB/s eta 0:00:13
   ------------------ --------------------- 4.7/10.0 MB 463.7 kB/s eta 0:00:12
   ------------------ --------------------- 4.7/10.0 MB 463.7 kB/s eta 0:00:12
   ------------------- -------------------- 5.0/10.0 MB 475.6 kB/s eta 0:00:11
   --------------------- ------------------ 5.2/10.0 MB 488.1 kB/s eta 0:00:10
   --------------------- ------------------ 5.2/10.0 MB 488.1 kB/s eta 0:00:10
   ---------------------- ----------------- 5.5/10.0 MB 498.6 kB/s eta 0:00:09
   ----------------------- ---------------- 5.8/10.0 MB 508.4 kB/s eta 0:00:09
   ----------------------- ---------------- 5.8/10.0 MB 508.4 kB/s eta 0:00:09
   ------------------------ --------------- 6.0/10.0 MB 514.1 kB/s eta 0:00:08
   ------------------------- -------------- 6.3/10.0 MB 522.8 kB/s eta 0:00:08
   -------------------------- ------------- 6.6/10.0 MB 536.1 kB/s eta 0:00:07
   --------------------------- ------------ 6.8/10.0 MB 549.0 kB/s eta 0:00:06
   ---------------------------- ----------- 7.1/10.0 MB 562.1 kB/s eta 0:00:06
   ----------------------------- ---------- 7.3/10.0 MB 572.0 kB/s eta 0:00:05
   ----------------------------- ---------- 7.3/10.0 MB 572.0 kB/s eta 0:00:05
   ------------------------------ --------- 7.6/10.0 MB 580.7 kB/s eta 0:00:05
   ------------------------------- -------- 7.9/10.0 MB 591.1 kB/s eta 0:00:04
   -------------------------------- ------- 8.1/10.0 MB 598.5 kB/s eta 0:00:04
   --------------------------------- ------ 8.4/10.0 MB 606.1 kB/s eta 0:00:03
   ---------------------------------- ----- 8.7/10.0 MB 615.7 kB/s eta 0:00:03
   ----------------------------------- ---- 8.9/10.0 MB 622.0 kB/s eta 0:00:02
   ------------------------------------ --- 9.2/10.0 MB 631.7 kB/s eta 0:00:02
   ------------------------------------ --- 9.2/10.0 MB 631.7 kB/s eta 0:00:02
   ------------------------------------- -- 9.4/10.0 MB 638.3 kB/s eta 0:00:01
   -------------------------------------- - 9.7/10.0 MB 646.6 kB/s eta 0:00:01
   -------------------------------------- - 9.7/10.0 MB 646.6 kB/s eta 0:00:01
   -------------------------------------- - 9.7/10.0 MB 646.6 kB/s eta 0:00:01
   ---------------------------------------  10.0/10.0 MB 636.0 kB/s eta 0:00:01
   ---------------------------------------  10.0/10.0 MB 636.0 kB/s eta 0:00:01
   ---------------------------------------  10.0/10.0 MB 636.0 kB/s eta 0:00:01
   ---------------------------------------  10.0/10.0 MB 636.0 kB/s eta 0:00:01
   ---------------------------------------- 10.0/10.0 MB 599.1 kB/s eta 0:00:00
Downloading huggingface_hub-0.29.2-py3-none-any.whl (468 kB)
Downloading PyYAML-6.0.2-cp311-cp311-win_amd64.whl (161 kB)
Downloading safetensors-0.5.3-cp38-abi3-win_amd64.whl (308 kB)
Downloading tokenizers-0.21.0-cp39-abi3-win_amd64.whl (2.4 MB)
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.4 MB 1.4 MB/s eta 0:00:02
   ------------- -------------------------- 0.8/2.4 MB 1.4 MB/s eta 0:00:02
   ----------------- ---------------------- 1.0/2.4 MB 1.4 MB/s eta 0:00:01
   --------------------- ------------------ 1.3/2.4 MB 1.4 MB/s eta 0:00:01
   -------------------------- ------------- 1.6/2.4 MB 1.4 MB/s eta 0:00:01
   ------------------------------ --------- 1.8/2.4 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 2.1/2.4 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  2.4/2.4 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 2.4/2.4 MB 1.2 MB/s eta 0:00:00
Installing collected packages: safetensors, pyyaml, huggingface-hub, tokenizers, transformers
Successfully installed huggingface-hub-0.29.2 pyyaml-6.0.2 safetensors-0.5.3 tokenizers-0.21.0 transformers-4.49.0
Note: you may need to restart the kernel to use updated packages.

In [56]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nirma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\nirma\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\nirma\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [57]:

sub_folders = os.listdir('BBC_News_Summary/News Articles')
sub_folders

['business', 'entertainment', 'politics', 'sport', 'tech']

In [58]:
News_Articles_Path = 'BBC_News_Summary/News Articles'

In [59]:
import os

def reading_files(base_path, sub_folders):
    articles = []
    categories = []

    for folder in sub_folders:
        folder_path = os.path.join(base_path, folder)  # Full folder path
        if os.path.isdir(folder_path):  # Ensure it's a directory
            for file in os.listdir(folder_path):  # Iterate over files
                file_path = os.path.join(folder_path, file)  # Full file path
                if os.path.isfile(file_path):  # Ensure it's a file
                    with open(file_path, 'r', encoding="utf8", errors='ignore') as f:
                        articles.append(f.read().replace('\n', ''))  # Store article content
                        categories.append(folder)  # Store category name

    return articles, categories

# Define paths
cwd = 'BBC_News_Summary/'
News_Articles_Path = os.path.join(cwd, 'News Articles/')
Summaries_Path = os.path.join(cwd, 'Summaries/')

# Get list of category folders
article_folders = os.listdir(News_Articles_Path)  # Categories in News Articles
summary_folders = os.listdir(Summaries_Path)  # Categories in Summaries

# Read articles and categories
articles, categories = reading_files(News_Articles_Path, article_folders)

# Print dataset size
print(len(articles))  # Number of articles
print(len(categories))  # Number of categories

2225
2225

In [60]:
import pandas as pd
df = pd.DataFrame({'Category': categories, 'Articles': articles})
df

      Category                                           Articles
0     business  Ad sales boost Time Warner profitQuarterly pro...
1     business  Dollar gains on Greenspan speechThe dollar has...
2     business  Yukos unit buyer faces loan claimThe owners of...
3     business  High fuel prices hit BA's profitsBritish Airwa...
4     business  Pernod takeover talk lifts DomecqShares in UK ...
...        ...                                                ...
2220      tech  BT program to beat dialler scamsBT is introduc...
2221      tech  Spam e-mails tempt net shoppersComputer users ...
2222      tech  Be careful how you codeA new European directiv...
2223      tech  US cyber security chief resignsThe man making ...
2224      tech  Losing yourself in online gamingOnline role pl...

[2225 rows x 2 columns]

DATA CLEANING

Convert to Lower case

In [61]:

df['Lower'] = df['Articles'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df.head(5)

,Category,Articles,Lower
0,business,Ad sales boost Time Warner profitQuarterly pro...,ad sales boost time warner profitquarterly pro...
1,business,Dollar gains on Greenspan speechThe dollar has...,dollar gains on greenspan speechthe dollar has...
2,business,Yukos unit buyer faces loan claimThe owners of...,yukos unit buyer faces loan claimthe owners of...
3,business,High fuel prices hit BA's profitsBritish Airwa...,high fuel prices hit ba's profitsbritish airwa...
4,business,Pernod takeover talk lifts DomecqShares in UK ...,pernod takeover talk lifts domecqshares in uk ...

Removing punctuations

In [62]:
df['Punctuations_removal'] = df['Lower'].str.replace('[^\w\s]','', regex = True)
df.head(5)

,Category,Articles,Lower,Punctuations_removal
0,business,Ad sales boost Time Warner profitQuarterly pro...,ad sales boost time warner profitquarterly pro...,ad sales boost time warner profitquarterly pro...
1,business,Dollar gains on Greenspan speechThe dollar has...,dollar gains on greenspan speechthe dollar has...,dollar gains on greenspan speechthe dollar has...
2,business,Yukos unit buyer faces loan claimThe owners of...,yukos unit buyer faces loan claimthe owners of...,yukos unit buyer faces loan claimthe owners of...
3,business,High fuel prices hit BA's profitsBritish Airwa...,high fuel prices hit ba's profitsbritish airwa...,high fuel prices hit bas profitsbritish airway...
4,business,Pernod takeover talk lifts DomecqShares in UK ...,pernod takeover talk lifts domecqshares in uk ...,pernod takeover talk lifts domecqshares in uk ...

Removing Special characters

In [63]:
import re
df['Special_Characters_removal'] = df['Punctuations_removal'].apply(lambda x: re.sub(r"[^a-zA-Z0-9]+", ' ', x))
df.head(5)

,Category,Articles,Lower,Punctuations_removal,Special_Characters_removal
0,business,Ad sales boost Time Warner profitQuarterly pro...,ad sales boost time warner profitquarterly pro...,ad sales boost time warner profitquarterly pro...,ad sales boost time warner profitquarterly pro...
1,business,Dollar gains on Greenspan speechThe dollar has...,dollar gains on greenspan speechthe dollar has...,dollar gains on greenspan speechthe dollar has...,dollar gains on greenspan speechthe dollar has...
2,business,Yukos unit buyer faces loan claimThe owners of...,yukos unit buyer faces loan claimthe owners of...,yukos unit buyer faces loan claimthe owners of...,yukos unit buyer faces loan claimthe owners of...
3,business,High fuel prices hit BA's profitsBritish Airwa...,high fuel prices hit ba's profitsbritish airwa...,high fuel prices hit bas profitsbritish airway...,high fuel prices hit bas profitsbritish airway...
4,business,Pernod takeover talk lifts DomecqShares in UK ...,pernod takeover talk lifts domecqshares in uk ...,pernod takeover talk lifts domecqshares in uk ...,pernod takeover talk lifts domecqshares in uk ...

Removing Stopwords

In [64]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['Stopwords_removal'] = df['Special_Characters_removal'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df.head(5)

,Category,Articles,Lower,Punctuations_removal,Special_Characters_removal,Stopwords_removal
0,business,Ad sales boost Time Warner profitQuarterly pro...,ad sales boost time warner profitquarterly pro...,ad sales boost time warner profitquarterly pro...,ad sales boost time warner profitquarterly pro...,ad sales boost time warner profitquarterly pro...
1,business,Dollar gains on Greenspan speechThe dollar has...,dollar gains on greenspan speechthe dollar has...,dollar gains on greenspan speechthe dollar has...,dollar gains on greenspan speechthe dollar has...,dollar gains greenspan speechthe dollar hit hi...
2,business,Yukos unit buyer faces loan claimThe owners of...,yukos unit buyer faces loan claimthe owners of...,yukos unit buyer faces loan claimthe owners of...,yukos unit buyer faces loan claimthe owners of...,yukos unit buyer faces loan claimthe owners em...
3,business,High fuel prices hit BA's profitsBritish Airwa...,high fuel prices hit ba's profitsbritish airwa...,high fuel prices hit bas profitsbritish airway...,high fuel prices hit bas profitsbritish airway...,high fuel prices hit bas profitsbritish airway...
4,business,Pernod takeover talk lifts DomecqShares in UK ...,pernod takeover talk lifts domecqshares in uk ...,pernod takeover talk lifts domecqshares in uk ...,pernod takeover talk lifts domecqshares in uk ...,pernod takeover talk lifts domecqshares uk dri...

Tokenization

In [65]:
from nltk.tokenize import word_tokenize
import nltk
df['Tokenization'] = df['Stopwords_removal'].apply(lambda x: word_tokenize(str(x)))

# Print tokenized words for the first 5 rows
for i in range(5):  
    print(f"Row {i+1} Tokens:", df['Tokenization'].iloc[i][:10])  # Print first 10 words

Row 1 Tokens: ['ad', 'sales', 'boost', 'time', 'warner', 'profitquarterly', 'profits', 'us', 'media', 'giant']
Row 2 Tokens: ['dollar', 'gains', 'greenspan', 'speechthe', 'dollar', 'hit', 'highest', 'level', 'euro', 'almost']
Row 3 Tokens: ['yukos', 'unit', 'buyer', 'faces', 'loan', 'claimthe', 'owners', 'embattled', 'russian', 'oil']
Row 4 Tokens: ['high', 'fuel', 'prices', 'hit', 'bas', 'profitsbritish', 'airways', 'blamed', 'high', 'fuel']
Row 5 Tokens: ['pernod', 'takeover', 'talk', 'lifts', 'domecqshares', 'uk', 'drinks', 'food', 'firm', 'allied']

Stemming

In [66]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['Stemming'] = df['Tokenization'].apply(lambda x: " ".join([st.stem(word) for word in x]))

# Print stemmed words for the first 5 rows
for i in range(5):  
    print(f"Row {i+1} Stemmed:", df['Stemming'].iloc[i].split()[:10])  # Print first 10 stemmed words

Row 1 Stemmed: ['ad', 'sale', 'boost', 'time', 'warner', 'profitquarterli', 'profit', 'us', 'media', 'giant']
Row 2 Stemmed: ['dollar', 'gain', 'greenspan', 'speechth', 'dollar', 'hit', 'highest', 'level', 'euro', 'almost']
Row 3 Stemmed: ['yuko', 'unit', 'buyer', 'face', 'loan', 'claimth', 'owner', 'embattl', 'russian', 'oil']
Row 4 Stemmed: ['high', 'fuel', 'price', 'hit', 'ba', 'profitsbritish', 'airway', 'blame', 'high', 'fuel']
Row 5 Stemmed: ['pernod', 'takeov', 'talk', 'lift', 'domecqshar', 'uk', 'drink', 'food', 'firm', 'alli']

Lemmatization

In [67]:
from textblob import Word
df['Lemmatization'] = df['Stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

with pd.option_context('display.max_colwidth', None):
  display(df['Lemmatization'].head(1))

0    ad sale boost time warner profitquarterli profit u medium giant timewarn jump 76 113bn 600m three month decemb 639m yearearlierth firm one biggest investor googl benefit sale highspe internet connect higher advert sale timewarn said fourth quarter sale rose 2 111bn 109bn profit buoy oneoff gain offset profit dip warner bro less user aoltim warner said friday own 8 searchengin googl internet busi aol mix fortun lost 464000 subscrib fourth quarter profit lower preced three quarter howev compani said aol underli profit except item rose 8 back stronger internet advertis revenu hope increas subscrib offer onlin servic free timewarn internet custom tri sign aol exist custom highspe broadband timewarn also restat 2000 2003 result follow probe u secur exchang commiss sec close concludingtim warner fourth quarter profit slightli better analyst expect film divis saw profit slump 27 284m help boxoffic flop alexand catwoman sharp contrast yearearli third final film lord ring trilog boost result fullyear timewarn post profit 336bn 27 2003 perform revenu grew 64 4209bn financi perform strong meet exceed fullyear object greatli enhanc flexibl chairman chief execut richard parson said 2005 timewarn project oper earn growth around 5 also expect higher revenu wider profit marginstimewarn restat account part effort resolv inquiri aol u market regul alreadi offer pay 300m settl charg deal review sec compani said unabl estim amount need set asid legal reserv previous set 500m intend adjust way account deal german music publish bertelsmann purchas stake aol europ report advertis revenu book sale stake aol europ loss valu stake
Name: Lemmatization, dtype: object

Summary Data Cleaning

In [68]:

Summaries_Path = 'D:\Python\Text_summarization\BBC_News_Summary\Summaries'

sub_folders = os.listdir('D:\Python\Text_summarization\BBC_News_Summary\Summaries')
sub_folders

['business', 'entertainment', 'politics', 'sport', 'tech']

In [ ]:
import glob
def reading_summary_files(Summaries_Path, sub_folders):
    summaries = []
    cat = []


    for folder in sub_folders:
        summary_paths = glob.glob(os.path.join(Summaries_Path, folder, '*.txt'))
    
        for i in range(len(summary_paths)):
          cat.append(folder)

          with open(summary_paths[i], mode = 'r', encoding = 'ISO-8859-1') as f:
            summaries.append(f.read())
                
    return summaries, cat

In [70]:

summaries, cat = reading_summary_files(Summaries_Path, sub_folders)
print(len(summaries))
print(len(cat))

2225
2225

In [71]:

import pandas as pd
df_summary = pd.DataFrame({'Category': cat, 'Summary': summaries})
df_summary

      Category                                            Summary
0     business  TimeWarner said fourth quarter sales rose 2% t...
1     business  The dollar has hit its highest level against t...
2     business  Yukos' owner Menatep Group says it will ask Ro...
3     business  Rod Eddington, BA's chief executive, said the ...
4     business  Pernod has reduced the debt it took on to fund...
...        ...                                                ...
2220      tech  BT is introducing two initiatives to help beat...
2221      tech  A third of them read unsolicited junk e-mail a...
2222      tech  This goes to the heart of the European project...
2223      tech  Amit Yoran was director of the National Cyber ...
2224      tech  He says that in the world of online gaming suc...

[2225 rows x 2 columns]

In [72]:

df['Summary']=df_summary['Summary']
df['Summary'][0]

"TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn.For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn.Quarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (Ã‚Â£600m) for the three months to December, from $639m year-earlier.However, the company said AOL's underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues.Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters.Time Warner's fourth quarter profits were slightly better than analysts' expectations."

In [73]:

df=df[['Articles','Summary']]
df

,Articles,Summary
0,Ad sales boost Time Warner profitQuarterly pro...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speechThe dollar has...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claimThe owners of...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profitsBritish Airwa...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts DomecqShares in UK ...,Pernod has reduced the debt it took on to fund...
...,...,...
2220,BT program to beat dialler scamsBT is introduc...,BT is introducing two initiatives to help beat...
2221,Spam e-mails tempt net shoppersComputer users ...,A third of them read unsolicited junk e-mail a...
2222,Be careful how you codeA new European directiv...,This goes to the heart of the European project...
2223,US cyber security chief resignsThe man making ...,Amit Yoran was director of the National Cyber ...
2224,Losing yourself in online gamingOnline role pl...,He says that in the world of online gaming suc...

Removing Ascii Characters and null values from Articles and Summary

In [76]:

df['Articles']=df['Articles'].str.encode('ascii','ignore').str.decode('ascii')
df['Summary']=df['Summary'].str.encode('ascii','ignore').str.decode('ascii')
bbc_news=df
bbc_news

,Articles,Summary
0,Ad sales boost Time Warner profitQuarterly pro...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speechThe dollar has...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claimThe owners of...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profitsBritish Airwa...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts DomecqShares in UK ...,Pernod has reduced the debt it took on to fund...
...,...,...
2220,BT program to beat dialler scamsBT is introduc...,BT is introducing two initiatives to help beat...
2221,Spam e-mails tempt net shoppersComputer users ...,A third of them read unsolicited junk e-mail a...
2222,Be careful how you codeA new European directiv...,This goes to the heart of the European project...
2223,US cyber security chief resignsThe man making ...,Amit Yoran was director of the National Cyber ...
2224,Losing yourself in online gamingOnline role pl...,He says that in the world of online gaming suc...

In [79]:
# Save the DataFrame as a CSV file
bbc_news.to_csv("bbc_news.csv", index=False)  # index=False to avoid adding row numbers
print("CSV file saved successfully!")

CSV file saved successfully!

MODEL

Abstractive Summarization (Using BART)

In [2]:
%pip install --upgrade transformers

Requirement already satisfied: transformers in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (4.49.0)
Requirement already satisfied: filelock in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (3.17.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.26.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (0.29.2)
Requirement already satisfied: numpy>=1.17 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.22,>=0.21 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (0.21.0)
Requirement already satisfied: safetensors>=0.4.1 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (0.5.3)
Requirement already satisfied: tqdm>=4.27 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from transformers) (4.67.1)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub<1.0,>=0.26.0->transformers) (2025.2.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub<1.0,>=0.26.0->transformers) (4.12.2)
Requirement already satisfied: colorama in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from tqdm>=4.27->transformers) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests->transformers) (2024.12.14)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%pip install ipywidgets

In [10]:
import pandas as pd

# Load the dataset
df = pd.read_csv("bbc_news.csv")

# Check the first few rows
print(df.head())

# Check for missing values
print(df.isnull().sum())

                                            Articles  \
0  Ad sales boost Time Warner profitQuarterly pro...
1  Dollar gains on Greenspan speechThe dollar has...
2  Yukos unit buyer faces loan claimThe owners of...
3  High fuel prices hit BA's profitsBritish Airwa...
4  Pernod takeover talk lifts DomecqShares in UK ...

                                             Summary
0  TimeWarner said fourth quarter sales rose 2% t...
1  The dollar has hit its highest level against t...
2  Yukos' owner Menatep Group says it will ask Ro...
3  Rod Eddington, BA's chief executive, said the ...
4  Pernod has reduced the debt it took on to fund...
Articles    0
Summary     0
dtype: int64

In [11]:
df = df.dropna(subset=["Articles"])  # Remove rows with missing articles
df = df[df["Articles"].str.strip() != ""]  # Remove empty articles

# Show dataset info after cleaning
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Articles  2225 non-null   object
 1   Summary   2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB
None

In [7]:
%pip install sumy

Requirement already satisfied: sumy in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (0.11.0)
Requirement already satisfied: docopt<0.7,>=0.6.1 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from sumy) (0.6.2)
Requirement already satisfied: breadability>=0.1.20 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from sumy) (0.1.20)
Requirement already satisfied: requests>=2.7.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from sumy) (2.32.3)
Requirement already satisfied: pycountry>=18.2.23 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from sumy) (24.6.1)
Requirement already satisfied: nltk>=3.0.2 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from sumy) (3.9.1)
Requirement already satisfied: chardet in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from breadability>=0.1.20->sumy) (5.2.0)
Requirement already satisfied: lxml>=2.0 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from breadability>=0.1.20->sumy) (5.3.1)
Requirement already satisfied: click in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.0.2->sumy) (8.1.8)
Requirement already satisfied: joblib in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.0.2->sumy) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.0.2->sumy) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from nltk>=3.0.2->sumy) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.7.0->sumy) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.7.0->sumy) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.7.0->sumy) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.7.0->sumy) (2024.12.14)
Requirement already satisfied: colorama in c:\users\nirma\appdata\local\programs\python\python311\lib\site-packages (from click->nltk>=3.0.2->sumy) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from sumy.parsers.plaintext import PlaintextParser
from sumy.nlp.tokenizers import Tokenizer
from sumy.summarizers.text_rank import TextRankSummarizer

# Function for extractive summarization
def extractive_summary(text, sentence_count=3):
    parser = PlaintextParser.from_string(text, Tokenizer("english"))
    summarizer = TextRankSummarizer()
    summary = summarizer(parser.document, sentence_count)

    return " ".join(str(sentence) for sentence in summary)

# Apply Extractive Summarization
df["Extractive_Summary"] = df["Articles"].apply(lambda x: extractive_summary(x))

# Check results
print(df[["Articles", "Extractive_Summary"]].head())

                                            Articles  \
0  Ad sales boost Time Warner profitQuarterly pro...
1  Dollar gains on Greenspan speechThe dollar has...
2  Yukos unit buyer faces loan claimThe owners of...
3  High fuel prices hit BA's profitsBritish Airwa...
4  Pernod takeover talk lifts DomecqShares in UK ...

                                  Extractive_Summary
0  Ad sales boost Time Warner profitQuarterly pro...
1  Dollar gains on Greenspan speechThe dollar has...
2  Yukos unit buyer faces loan claimThe owners of...
3  High fuel prices hit BA's profitsBritish Airwa...
4  Pernod takeover talk lifts DomecqShares in UK ...

In [ ]:
import pandas as pd
import torch
from transformers import BartForConditionalGeneration, BartTokenizer
from sumy.parsers.plaintext import PlaintextParser
from sumy.nlp.tokenizers import Tokenizer
from sumy.summarizers.text_rank import TextRankSummarizer
from sklearn.model_selection import train_test_split

# âœ… Load BBC Dataset
df = pd.read_csv("bbc_news.csv")

# âœ… Check for missing values
df.dropna(inplace=True)

# âœ… Split dataset into training (80%) & testing (20%)
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

# âœ… Load Pretrained Abstractive Summarization Model (BART)
device = "cuda" if torch.cuda.is_available() else "cpu"
model_name = "facebook/bart-large-cnn"
tokenizer = BartTokenizer.from_pretrained(model_name)
model = BartForConditionalGeneration.from_pretrained(model_name).to(device)

# âœ… Abstractive Summarization Function
def abstractive_summary(text, max_input=1024, min_output=50, max_output=150):
    inputs = tokenizer(text, return_tensors="pt", max_length=max_input, truncation=True).to(device)
    summary_ids = model.generate(
        inputs["input_ids"],
        max_length=max_output,
        min_length=min_output,
        num_beams=4,
        length_penalty=2.0,
        early_stopping=True
    )
    return tokenizer.decode(summary_ids[0], skip_special_tokens=True)

# âœ… Extractive Summarization Function (TextRank)
def extractive_summary(text, sentence_count=3):
    parser = PlaintextParser.from_string(str(text), Tokenizer("english"))
    summarizer = TextRankSummarizer()
    summary = summarizer(parser.document, sentence_count)
    return " ".join(str(sentence) for sentence in summary)

# âœ… Apply Summarization on Test Data
test_df["Abstractive_Summary"] = test_df["Articles"].apply(lambda x: abstractive_summary(x))
test_df["Extractive_Summary"] = test_df["Articles"].apply(lambda x: extractive_summary(x))

# âœ… Show Results
print(test_df[["Articles", "Abstractive_Summary", "Extractive_Summary"]].head())

# âœ… Save Summaries to CSV
test_df.to_csv("bbc_summarized.csv", index=False)
print("Summarized dataset saved as 'bbc_summarized.csv'")